body{
    margin: 0px;
    padding: 0px;
}


#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px; 
    background-color: rgb(163, 163, 158);
    color: rgb(17, 17, 12);
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

